
#navbar-override {
  background-color: #000;
  border-color: #080808;
}

.navbar {
  background-color: #000;
  margin-bottom: 0;
}

.navbar-brand {
  margin-left: 5px;
}

#brand-image {
  height: 55px;
}

.navbar-header {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}

.navbar-nav li a {
  line-height: 90px;
  height: 80px;
  padding-top: 0;
}

#nav-btn {
  top: 20px;
}

@media (max-width: 740px) {
  .navbar-nav li a {
  line-height: 45px;
  height: 45px;
  }
}

.dropdown-menu li a {
  line-height: 35px;
  height: 35px;
}

.nav-title,
.nav-page,
.edit-title {
    
}

/*Dropdown menu bootstrap override*/
.dropdown-toggle {
  background-color: transparent;
  border-color: #000;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

.dropdown-menu{
  background-color: black;
}

.dropdown-menu>li:hover{
  background-color:#929399;
}

.dropdown-menu>li>a{
  color: #929399;
}

.dropdown-menu>li>a:hover {
  background-color:#000;
  color: white;
}

span {
 display: inline-block;
 width: 0;
 height: 200em;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}
    
/*Slides*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.border-between > [class*='col-']:before {
   background: black;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

.types {
  color: #715445;
  font-weight: bold;
}

.menu-item {
  color: #715445;
  float: left;
  font-weight:bold;
}

.item-price {
  color: #085A39;
  float: right;
  font-weight: bold;
}

.menu-desc {
  color: #715445;
}
.sidebar {
  padding: 15px;
}

.title {
  visibility: hidden;
}

.sand2,
.title2 {
  display: none;
}

.social-img {
  height: 35px;
  display: inline;
}


@media (max-width: 405px) {
  .cap {
    font-size: 13px;
  }
  .mac {
    font-size: 13px;
  }
}
/*Media Queries for bootstrap*/

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .title,
  .bar {
    display: none;
  }
  .mrpickles {
    display: none;
  }
 .dropdown-menu,
 .dropdown {
  float: right;
 }
 .choices {
    padding: 0px 25px 0px 25px;
  }
 .social-img {
  height: 50px;
  padding: 3px 110px;
 }
}

@media (min-width: 767px) {
  .sidebar {
    padding-top: 15px;
  }
  .links {
    position: relative;
    top: 20px;
  }
  .choices {
    padding-top: 25px;
  }
  .social-img {
    height: 37px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sidebar {
    padding-top: 35px;
  }
  .social-img {
  height: 60px;
  padding: 10px 25px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
      .sidebar {
    padding-top: 50px;
  }
}
